/*----------------------CSS RESET----------------------*/

body, p, h1, h2, nav, ul, li, header, footer{		
	margin:0;
	padding:0;
}

/*----------------------TEXT STYLES----------------------*/

body{
	margin:0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	background-color:#EBF5ED;
}
h1.welcome{
	font-size:4em;
	color:#30C2F2;
}
p.welcome{
	font-size:3em;
	color:#5DC6F0;
}
h3.about{
	font-size:1.5em;
	color:#fff;
}
p.about{
	font-size:1em;
	color:#fff;
}
.myName{
	font-family: 'Abel',sans-serif;
	font-size:3em;
	color:#fff;
}
/*----------------------OUTER CONTAINER----------------------*/

#container{
	position:relative;
	width:100%;
	height:100%;
}

/*----------------------HEADER STYLES----------------------*/

#header{
	position:absolute;
	left:0px;
	top:0px;
	display:block;
	width:100%;
	background-color:#A6D19B;
	padding:1% 0%;
}
#name{
	text-align:center;
}
.myName{
	display:inline-block;
	padding:10px;
	text-align:center;
	border:solid 2px #fff;
}

/*----------------------NAVIGATION STYLES----------------------*/

#nav{
	text-align:center;
	margin-top:30px;
}
.navLinks{
	list-style-type:none;
	display:inline;
	border:solid 2px white;
	border-radius:10px;
	padding:10px;
}
.navLinks a{
	text-decoration:none;
}
.navLinks a:link{
	color:#2232E3;
}
.navLinks:hover{
	background-color:#fff;
}
.navLinks a:visited{
	color:#2232E3;
}
.navLinks:active{
	
}

/*----------------------MAIN CONTENT AREA STYLES----------------------*/

#main{
	position:relative;
	left:0px;
	top:165px;
}
.welcome{
	padding:15px;
}
#about{
	display:block;
	width:100%;
	height:auto;
	background-color:#AEE0A2;
	padding:1% 0%;
	text-align:center;
}

/*----------------------IMAGES STYLES----------------------*/

/*----------------------FOOTER STYLES----------------------*/

#footer{
	text-align:center;
}
p.copyright{
	text-align:center;
	font-size:1em;
	color:#91918C;
}

/*----------------------MEDIA QUERIES----------------------*/


