/*----------------------CSS RESET----------------------*/
body, p, h1, h2, nav, ul, li, header, footer{		
	margin:0;
	padding:0;
}
/*----------------------TEXT STYLES----------------------*/
body{
	margin:0;
	padding:0;
	font-family: 'Josefin Sans', sans-serif;
	background-color:#EBF5ED;
}
.name{
	font-family: 'Abel',sans-serif;
	font-size:3em;
	color:#fff;
}
h1.welcome{
	font-size:4em;
	color:#339E78;
}
p.welcome{
	font-size:3em;
	color:#3FBA8F;
}
h3.about{
	font-size:1.5em;
	color:#fff;
}
p.about{
	font-size:1em;
	color:#fff;
}
/*----------------------OUTER CONTAINER----------------------*/
#container{
	position:relative;
	width:100%;
	height:100% auto;
}
/*----------------------HEADER STYLES----------------------*/
header{
	width:100%;
	background-color:#A6D19B;
	padding:1% 0%;
	text-align:center;
}
.name{
	display:inline-block;
	padding:10px 30px;
	text-align:center;
	border:solid 2px #fff;
	text-align:center;
}
/*----------------------NAVIGATION STYLES----------------------*/
#nav{
	width:100%;
	height:auto;	
	background-color:#69B383;
}
.navigation {
    list-style-type: none;
    overflow: hidden;
}
li{
	display:inline;
}
li a{
	text-align:center;
	display:block;
	float:left;
	padding:2%;
	text-decoration: none;
	color:#4c5159;
	width:auto;
	height:auto;
	transition: width 2s ease-in-out;
	border-right:solid 2px black;
}
li a:hover{
	font-weight:bold;
	background-color:#ADADAD;
	width:20%;
}
.current a{
	background-color:#fff;
	color:black;
	font-weight:bold;
}
/*----------------------MAIN CONTENT AREA STYLES----------------------*/
#main{
	margin-left:5%;
	margin-top:2%
}
#aboutMe{
	display:block;
	width:90%;
	height:auto;
	background-color:#69B383;
	text-align:center;
	margin:0 auto;
	padding:1%;
	margin-top:3%;
}
/*----------------------FOOTER STYLES----------------------*/
footer{
	text-align:center;
	margin-top:10%;
}
p.copyright{
	text-align:center;
	font-size:1em;
	color:#91918C;
}
/*----------------------MEDIA QUERIES----------------------*/