<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ELIZA Plus</title>
    <!-- JS and CSS for firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-app.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase-firestore.js"></script>
    <script src="static/js/config.js"></script>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <!-- CSS for CHAT FRONT END-->
    <link rel="stylesheet" href="static/css/main.css"/>
    <link rel="stylesheet" href="static/css/send.css"/>
    <link rel="stylesheet" href="static/css/chat.css"/>
    <link rel="stylesheet" href="static/css/notifications.css"/>
</head>

<body id="body">
<nav class="navbar fixed-top navbar-light bg-light">
    <img id="logo" src="static/images/eliza-logo.png">
    <button id="signout" style="display:none; float: right"
            type="button" class="btn btn-secondary">Sign Out
    </button>
</nav>
<div id="chat-app" style="display:none">
    <div class="container">
        <div class="row chat-row">
            <div class="col-lg-8 offset-lg-2">
                <span id="chat-area"></span>
            </div>
        </div>
    </div>

    <!-- Area to send a message and ownership info -->
    <div class="container send-wrapper">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 send-inner-wrapper">
                <p class="send-message-help-text">Talk to Eliza by typing into the textbox below:</p>
                <input type="text" class="send-textbox"/>
                <p class="send-message-help-below-text text-right">Send your message by pressing "Enter"</p>
                <p class="bottom-label text-center">Adapted by Pritam Sangani using the work of <a
                        href="https://github.com/kweaver00" target="_blank">Keith
                    Weaver</a>.
                    Modify the original work by forking the <a href="https://github.com/kweaver00/eliza"
                                                               target="_blank">repo</a>.</p>
            </div>
        </div>
    </div>

    <!-- notifications.js appends notification html elements to this -->
    <span id="notification-area">
        </span>
</div>
<div id="firebaseui-container"></div>

<!-- SCRIPTS GO HERE -->


<script src="static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

<script src="static/js/socketApp.js"></script>
<script src="static/js/notifications.js"></script>
<script src="static/js/chat.js"></script>
</body>

</html>